/*
Основной css файл
*/
@font-face {
    /*Добавление шрифта Bebasneue Bold*/
    font-family: "Bebasneue";
    src: url("fonts/BebasNeue_Bold.otf") format("opentype");
    url("fonts/BebasNeue_Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Bebasneue";/* Подключаем шрифт */
    color: #fff;
    margin: 0;
    background-color: #131313;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 100vh;
    zoom:100%;
}
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
}
a.lin:hover {border-bottom: 1px double white;}

.content{
    max-width: 100%;
    max-height: 100%;
}
.container {
    max-width: 1200px;
}
.container_v {
    z-index: 0;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container_v > #bts_video{
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}
.zag{
    z-index: 1;
    position: absolute;
    font-size: 72px;
    padding-top: 10%;
    padding-left: 20%;
}
.zage{
    z-index: 1;
    position: absolute;
    font-size: 52px;
    padding-top: 20%;
    padding-left: 20%;
}
.hat{
    height: 90px;
    width: 100%;
}
.logo{
    position: absolute;
    top: 2%;
    left: 20%;
    width: 200px;
}
ul{
    position: absolute;
    margin: 0;
    padding: 4px; /* Значение полей */
    top: 3%;
    right: 20%;
}
.tp{
    font-size: 28px;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 20px; /* Поля вокруг текста */
}
.butpos{
    position: absolute;
    width: 100%;
    top: 65%;
    left: 23%;
    transform: translate(-50%, -50%);
}
a.but {
    height: 50px;
    width: 250px;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #131313;
    outline: none;
    border-radius: 90px;
    position: absolute;
    left: 47%;
    transition: .05s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.but:hover { background: #D0943A; } /* анимация */
.text{
    font-size: 48px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text2{
    font-size: 48px;
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text3{
    font-size: 48px;
    position: absolute;
    top: 215%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.name{
    font-size: 32px;
    position: absolute;
    top: 180%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.info{
    font-family: "Bebasneue";
    font-size: 32px;
    position: absolute;
    top: 193%;
    left: 60.5%;
    transform: translate(-50%, -50%);
}
.block{
    position: absolute;
    width: 240px;
    height: 300px;
    border-radius: 50px;
    top: 190%;
    left: 43%;
    transform: translate(-50%, -50%);
}
.footer{
    position: absolute;
    height: 250px;
    color: #fff;
    bottom: -175%;
    width: 100%;
    margin: 0 auto;
}
.cop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    position: absolute;
    bottom: 1%;
}
.videos1{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 150%;
    left: 28.5%;
    background-color: black;
    transform: translate(-50%, -50%);
}
.videos2{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 150%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}
.videos3{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 150%;
    left: 71.5%;
    background-color: black;
    transform: translate(-50%, -50%);
}
.circul{
    position: absolute;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    top: 225%;
    left: 15%;
}
.circul1{
    position: absolute;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    top: 225%;
    left: 55%;
}
.com{
    position: absolute;
    border-radius: 50px;
    width: 400px;
    height: 250px;
    top: 250%;
    left: 70%;
    background-color: white;
    transform: translate(-50%, -50%);
}
.com1{
    position: absolute;
    border-radius: 50px;
    width: 400px;
    height: 250px;
    top: 250%;
    left: 30%;
    background-color: white;
    transform: translate(-50%, -50%);
}