/*
CSS файл портфолио
*/
.content-portfolio{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.advertising-videos-slot {
    display: inline-block;
    width: 368px;
    height: 207px;
    background-color: black;
}