{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <p class="text">Наша команда<span class="tern">:</span></p>
    <div class="container_a">
        <p class="text_a"><img class="leftimg" src="{% static 'images/Max.jpg' %}" alt="Max">Максим Кирюшин</p>
        <p class="text_a_t">Режисер команды <span class="tern">"</span>Vedmenko production<span class="tern">"</span></p>
    </div>
    <div class="container_a">
        <p class="text_a"><img class="leftimg" src="{% static 'images/Ilia.jpg' %}" alt="Ilia">Илья Ведменко</p>
        <p class="text_a_t">Оператор команды <span class="tern">"</span>Vedmenko production<span class="tern">"</span></p>
    </div>
    <div class="container_a">
        <p class="text_a"><img class="leftimg" src="{% static 'images/Alexey.jpg' %}" alt="Alexey">Алексей Прибылов</p>
        <p class="text_a_t">Продюсер команды <span class="tern">"</span>Vedmenko production<span class="tern">"</span></p>
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince</a>, <a class="lin" href="https://github.com/pinakoladaxd">pinaxd</a></p>
        </div>
    </footer>
{% endblock %}
