{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <p class="text">Наша команда<span class="tern">:</span></p>
    <div class="container_a">
        <p class="text_a"><img class="leftimg" src="{% static 'images/Max.jpg' %}" alt="Max">Максим Кирюшин</p>
        <p class="text_a_t">Режисер команды Vedmenko production</p>
        <div>
            <a href="https://www.instagram.com/kiryushin_max/"><img class="vibe_a" src="{% static 'images/INV.png' %}" alt="preview"></a>
            <a href="###"><img class="vibe_a" src="{% static 'images/TGV.png' %}" alt="preview"></a>
            <a href="https://vk.com/kiryushin2"><img class="vibe_a" src="{% static 'images/VKV.png' %}" alt="preview"></a>
        </div>
    </div>
    <div class="container_a">
        <p class="text_a"><img class="rightimg" src="{% static 'images/Ilia.jpg' %}" alt="Ilia">Илья Ведменко</p>
        <p class="text_a">Оператор команды Vedmenko production</p>
        <div>
            <a href="https://www.instagram.com/ilia.vedmenko/"><img class="vibe_a" src="{% static 'images/INV.png' %}" alt="preview"></a>
            <a href="https://t.me/iliamblshonok"><img class="vibe_a" src="{% static 'images/TGV.png' %}" alt="preview"></a>
            <a href="https://vk.com/ilia.vedmenko"><img class="vibe_a" src="{% static 'images/VKV.png' %}" alt="preview"></a>
        </div>
    </div>
    <div class="container_a">
        <p class="text_a"><img class="leftimg" src="{% static 'images/Alexey.jpg' %}" alt="Alexey">Алексей Хованский</p>
        <p class="text_a">Продюсер команды Vedmenko production</p>
        <div class="follow">
            <a href="https://www.instagram.com/_mstpd_/"><img class="vibe_a" src="{% static 'images/INV.png' %}" alt="preview"></a>
            <a href="https://t.me/ms_tpd"><img class="vibe_a" src="{% static 'images/TGV.png' %}" alt="preview"></a>
            <a href="https://vk.com/l.pribylov"><img class="vibe_a" src="{% static 'images/VKV.png' %}" alt="preview"></a>
        </div>
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </footer>
{% endblock %}
