<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vedmenko production</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
</head>
<body>
<header>
    <div class="hat">
        <a href="index.html"><img class="logo" src="images/VPROD_MainLogo.png" alt="Vedmenko_production"></a>
        <ul>
            <li class="tp"><a class="lin" href="about_us.html">О нас</a></li>
            <li class="tp"><a class="lin" href="contacts.html">Контакты</a></li>
            <li class="tp"><a class="lin" href="comments.html">Отзывы</a></li>
            <li class="tp"><a class="lin" href="portfolio.html">Портфолио</a></li>
        </ul>
    </div>
</header>

</body>
</html>