{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <link rel="stylesheet" href="{%static 'css/style_mobile.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{%static 'images/favicon.png'%}" type="image/png">
        <script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
        <script src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>
        <link rel="stylesheet" href="path/to/plyr.css" />
        <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
        <script src="{%static 'js/ply.js' %}"></script>
    </head>
<body>
    <div class="hat">
        <a href="{% url 'homepage' %}"><img class="logo" src="{% static 'images/VPROD_MainLogo.png' %}" alt="Vedmenko_production"></a>
        <nav>
            <ul>
                <li class="tp"><a class="lin" href="{% url 'about' %}">О нас</a></li>
                <li class="tp"><a class="lin" href="{% url 'contact' %}">Контакты</a></li>
                <li class="tp"><a class="lin" href="{% url 'comment' %}">Отзывы</a></li>
                <li class="tp"><a class="lin" href="{% url 'portfolio' %}">Портфолио</a></li>
            </ul>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>