{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="container_comment">
        <img class="circul" src="{% static 'images/5_people.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Ваша работа поражает меня.</p>
        </div>
        <img class="circul" src="{% static 'images/6_people.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Приятно работать с вашей коммандой.</p>
        </div>
        <img class="circul" src="{% static 'images/7_people.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Ролик получился великолепный, я доволен.</p>
        </div>
        <img class="circul" src="{% static 'images/8_people.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Это уровень.</p>
        </div>
        <img class="circul" src="{% static 'images/9_people.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Эти ребята знают толк в съемке.</p>
        </div>
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </footer>
{% endblock %}