{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="container_comment">
        <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Лучшая команда по сьемкам.</p>
        </div>
        <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Лучшая команда по сьемкам.</p>
        </div>
        <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Лучшая команда по сьемкам.</p>
        </div>
        <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Лучшая команда по сьемкам.</p>
        </div>
        <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
        <div class="com">
            <p class="text_in_com">Лучшая команда по сьемкам.</p>
        </div>
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </footer>
{% endblock %}