{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="content-comments">
        <div class="container-comments">
            <div class="comment">
                <div class="comment-autor">
                    <div class="comment-text">
                        <p>Какой-то отзыв.</p>
                    </div>
                </div>
        </div>
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </footer>
{% endblock %}