{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
  <div class="container_soc">
    <form method="post">
    <p class="fore">КАК С НАМИ СВЯЗАТЬСЯ<span class="tern">?</span> ПРОСТО<span class="tern">!</span> </p>
    <p class="fore_n">ЗАДАЙТЕ СВОЙ ВОПРОС <span class="tern">:</span></p>
    <label>ВАШЕ ИМЯ <input type="text"></label>
    <label>E-MAIL<input type="text"></label>
    <label>СООБЩЕНИЕ<input type="text"></label>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
    </form>
<div>
    <div>
        <a href="###"><img class="vibe" src="{% static 'images/INV.png' %}" alt="preview"></a>
        <a href="###"><img class="vibe" src="{% static 'images/TGV.png' %}" alt="preview"></a>
        <a href="###"><img class="vibe" src="{% static 'images/VKV.png' %}" alt="preview"></a>
    </div>
</div>
    <img class="photo" src="{% static 'images/unnamed.jpg' %}" alt="preview">
</div>
<footer>
    <div class="cop">
        <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
    </div>
</footer>
{% endblock %}