{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="container">
        <div class="main">
            <p class="text">КАК С НАМИ СВЯЗАТЬСЯ<span class="tern">?</span> ПРОСТО<span class="tern">!</span> </p>
        </div>
        <p class="fore">ЗАДАЙТЕ СВОЙ ВОПРОС <span class="tern">:</span></p>
        <p class="retr">ВАШЕ ИМЯ</p>
        <p class="retr_one">E-MAIL</p>
        <p class="retr_two">СООБЩЕНИЕ</p>
    </div>
    <div>
        <div class="button_pos">
            <a class="button" href="###"><p class="eff">Отправить</p></a>
        </div>
    </div>
    <div>
        <div class="vibe_pos_one">
            <a href="###"><img class="vibe" src="{% static 'images/INV.png' %}" alt="preview"></a>
        </div>
        <div class="vibe_pos_twe">
            <a href="###"><img class="vibe" src="{% static 'images/TGV.png' %}" alt="preview"></a>
        </div>
        <div class="vibe_pos_tree">
            <a href="###"><img class="vibe" src="{% static 'images/VKV.png' %}" alt="preview"></a>
        </div>
    </div>
        <img class="photo" src="{% static 'images/unnamed.jpg' %}" alt="preview">
    <div class="footer_con">
        <div class="cop">
            <p class="con">&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </div>
{% endblock %}