{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="container_soc">
        <div class="fore">КАК С НАМИ СВЯЗАТЬСЯ<span class="tern">?</span> ПРОСТО<span class="tern">!</span> </div>
        <div class="fore_n">ЗАДАЙТЕ СВОЙ ВОПРОС <span class="tern">:</span></div>
    <form method="post">
        {% csrf_token %}
        <p><label for="id_subject">Ваше имя<span class="tern">:</span></label>
            <input class="inp" id="id_subject" type="text" name="name" maxlength="100" required /></p>
        <p><label for="id_sender">Почтовый ящик<span class="tern">:</span></label>
            <input class="inp" type="email" name="sender" id="id_sender" required /></p>
        <p><label  for="id_message">Сообщение<span class="tern">:</span></label>
            <input class="inp" name="message" id="id_message" maxlength="100" required /></p>
        <input class="button" type="submit" value="Отправить" />
        
    </form>
    <div>
        <div>
            <a href="###"><img class="vibe" src="{% static 'images/INV.png' %}" alt="preview"></a>
            <a href="###"><img class="vibe" src="{% static 'images/TGV.png' %}" alt="preview"></a>
            <a href="###"><img class="vibe" src="{% static 'images/VKV.png' %}" alt="preview"></a>
        </div>
    </div>
        <img class="photo" src="{% static 'images/unnamed.jpg' %}" alt="preview">
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </footer>
{% endblock %}