{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
        <!--Основна-->
            <div class="container">
                <p class="m_text">ВИДЕОПРОДАКШН</p>
                <p class="t_text"><span class="tern">❮❮</span>I.VEDMENKO<span class="tern">❯❯</span></p>
                <p class="s_text">CОЗДАНИЕ ЭФФЕКТНЫХ ВИДЕОРОЛИКОВ <br> ДЛЯ ВАШЕГО БИЗНЕСА</p>
                <div class="butpos">
                    <a class="but" href="{% url 'contact' %}">Оставить заявку</a>
                </div>
            <!--Видео ролик-->
                <video autoplay muted loop id="bts_video" class="container_v">
                    <source src="{% static 'videos/Web-video.mp4'%}" type="video/mp4">
                </video>
            <!--Видео ролик-end-->    
            </div>
            <!--Видео раздел-->
            <div class="container_vid">
                <p class="text">Наши работы<span class="tern">:</span></p>
                <div class="videos">
                    <video class="videos_pos_one" poster="{% static 'images/videos_prewie.jpg'%}" controls>
                        <source src="{% static 'videos/Web-video.mp4'%}"  type="video/mp4">
                    </video>
                    <video class="videos_pos_one" poster="{% static 'images/videos_prewie.jpg'%}" controls>
                        <source src="{% static 'videos/Web-video.mp4'%}"  type="video/mp4">
                    </video>
                    <video class="videos_pos_three" poster="{% static 'images/videos_prewie.jpg'%}" controls>
                        <source src="{% static 'videos/Web-video.mp4'%}"  type="video/mp4">
                    </video>
                </div>
                <div class="butpos">
                    <a class="but_yet" href="{% url 'portfolio' %}">Больше видео</a>
                </div>
            </div>
            <!--Видео раздел-end-->
            <!--Комменты-->
            <div class="container_com">
                <p class="text">Комментарии<span class="tern">:</span></p>
                <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
                <div class="com">
                    <p class="text_in_com">Лучшая команда по сьемкам.</p>
                </div>
                <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
                <div class="com">
                    <p class="text_in_com">Лучшая команда по сьемкам.</p>
                </div>
                <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
                <div class="com">
                    <p class="text_in_com">Лучшая команда по сьемкам.</p>
                </div>
                <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
                <div class="com">
                    <p class="text_in_com">Лучшая команда по сьемкам.</p>
                </div>
                <div class="butpos">
                    <a class="but_yet" href="{% url 'comment' %}">Больше Комментариев</a>
                </div>
            </div>
            <!--Комменты-end-->
            <!--Основна-end-->
            <!--Подвал-->
            <footer>
                <div class="cop">
                    <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
                </div>
            </footer>
            <!--Подвал-end-->
{% endblock %}