{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
        <!--Основна-->
        <div class="content">
            <div class="container">
                <p class="m_text">ВИДЕОПРОДАКШН <br> <span class="tern">❮❮</span>I. VEDMENKO<span class="tern">❯❯</span></p>
                <p class="s_text">CОЗДАНИЕ ЭФФЕКТНЫХ ВИДЕОРОЛИКОВ <br> ДЛЯ ВАШЕГО БИЗНЕСА</p>
                <div class="butpos">
                    <a class="but" href="{% url 'contact' %}">Оставить заявку</a>
                </div>
            <!--Видео ролик-->
                <div class="container_v">
                    <video autoplay muted loop id="bts_video" class="fake_video">
                        <source src="{% static 'videos/Web-video.mp4'%}" type="video/mp4">
                    </video>
                </div>
            </div>
            <!--Видео ролик-end-->
            <!--Видео раздел-->
            <div class="container">
                <div class="text_more">
                    <p class="text">Больше видео</p>
                </div>
                <div class="video_pos_one">
                    <div class="videos">
                        <video src="###" poster="{% static 'images/videos_prewie.jpg'%}" controls></video>
                    </div>
                </div>
                <div class="video_pos_two">
                    <div class="videos">
                        <video src="###" poster="{% static 'images/videos_prewie.jpg'%}" controls></video>
                    </div>
                </div>
                <div class="video_pos_three">
                    <div class="videos">
                        <video src="###" poster="{% static 'images/videos_prewie.jpg'%}" controls></video>
                    </div>
                </div>
            </div>
            <!--Видео раздел-end-->
            <!--Слайды-->
            <div class="text_team">
                <p class="text">Наша команда</p>
            </div>
            <div class="container_pos">
                <div class="slideshow-container">
                <div class="mySlides fade">
                  <img src="{% static 'images/prewie_max.jpg' %}" style="width:100%">
                </div>
                <div class="mySlides fade">
                  <img src="{% static 'images/prewie_ilia.jpg' %}" style="width:100%">
                </div>
                <div class="mySlides fade">
                  <img src="{% static 'images/prewie_team.jpg' %}" style="width:100%">
                </div>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
            </div>
            <!--Слайды-end-->
            <!--Комменты-->
            <div class="container">
                <div class="text_com">
                    <p class="text">Комментарии</p>
                </div>
                <div class="com_pos">
                    <img class="circul" src="{% static 'images/i.jpg'%}" alt="Fp">
                    <img class="circul1" src="{% static 'images/tdu4GQdsq0E.jpg'%}" alt="Sp">
                    <div class="com">
                        <p class="text_in_com">Лучшая команда по сьемкам.</p>
                    </div>
                    <div class="com1">
                        <p class="text_in_com">Работы выполняют быстро и хорошо.</p>
                    </div>
                </div>
            </div>
            <!--Комменты-end-->
        </div>
        <!--Основна-end-->
        <!--Подвал-->
        <div class="footer">
            <div class="cop">
                <p class="con">&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
            </div>
        </div>
        <!--Подвал-end-->
{% endblock %}