{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="container_vid_port">
            <h1 style="text-align: left; margin-left: 15px;">Реклама</h1>
            <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
        <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
        <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
    </div>    
    <div class="container_vid_port">
            <h1 style="text-align: left; margin-left: 15px;">Клипы</h1>
            <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
        <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
        <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
    </div>    
    <div class="container_vid_port">
            <h1 style="text-align: left; margin-left: 15px;">Короткометражные фильмы</h1>
            <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
            src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
          <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
        <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
        <iframe class="videos"
          src="https://www.youtube.com/embed/rj-IHjI6R8U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
    </div>    
        <footer>
            <div class="cop">
                <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
            </div>
        </footer>
{% endblock %}