{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="content-portfolio">
        <div class="advertising-videos">
            <h1 style="text-align: left; margin-left: 15px;">Реклама</h1>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
        </div>
        <div class="shortfilm-videos">
            <h1 style="text-align: left; margin-left: 15px;">Короткометражные фильмы</h1>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
        </div>
        <div class="music-videos">
            <h1 style="text-align: left; margin-left: 15px;">Клипы</h1>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
            <div class="videos-slot">
                <video src="###" poster="{% static 'images/videos_prewie.jpg' %}" controls></video>
            </div>
        </div>
    <div class="footer_portfolio">
        <div class="cop">
            <p class="con">&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </div>
{% endblock %}