{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="container_comment">
        <div class="pag">
            <p class="pad">Рекламный <br> ролик</p>
            <div style="margin-top: 10px; width: 210px; height: 2px; background-color: #000;"></div>
            <p class="pad_text" style="margin-top: 30px;">Эксклюзивный видеоролик сделает ваш бренд узнаваемым, привлечет большее количество потенциальных клиентов</p>
            <p class="pad_text" style="margin-top: 30px;">Наша команда создаст качественный видео-контент, который будет отличаться на фоне конкурентов</p>
            <p class="sail">От 18 500</p> 
            <div class="butpos_price">  
                <a class="but_yet_price" href="{% url 'contact' %}">Заказать</a>
            </div>
        </div>
        <div class="pag">
            <p class="pad">Снять<br>видеоклип</p>
            <div style="margin-top: 10px; width: 210px; height: 2px; background-color: #000;"></div>
            <p class="pad_text" style="margin-top: 30px;">Уникальный и стильный клип, который будет неповторимым и повысит узнаваемость артиста</p>
            <p class="pad_text" style="margin-top: 48px;">Наша команда создаст<br> творческий клип по всем трендам индустрии, что не оставит равнодушным зрителя</p>
            <p class="sail">От 10 500</p> 
            <div class="butpos_price"> 
                <a class="but_yet_price" href="{% url 'contact' %}">Заказать</a>
            </div>
        </div>
        <div class="pag">
            <p class="pad">Короткометражный фильм</p>
            <div style="margin-top: 10px; width: 210px; height: 2px; background-color: #000;"></div>
            <p class="pad_text" style="margin-top: 30px;">Создания короткометражного фильма по вашему сценарию или под ключ</p>
            <p class="pad_text" style="margin-top: 49px;">Наша команда обладает свежим и прогрессивным мышлением, что позволяет создать умное и важное кино</p>
            <p class="sail">От 100 000</p>
            <div class="butpos_price">    
                <a class="but_yet_price" href="{% url 'contact' %}">Заказать</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince</a>, <a class="lin" href="https://github.com/pinakoladaxd">pinaxd</a></p>
        </div>
    </footer>
{% endblock %}