{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vedmenko production
{% endblock %}
{% block content %}
    <div class="container_comment">
        <div class="pag">
            <p style="text-align: center; font-size: 26px;">Рекламный <br> ролик</p>
            <div style="margin-top: 10px; width: 210px; height: 2px; background-color: #000;"></div>
            <p style="margin-top: 30px;">Для привлечения клиентов. Видеореклама до 3 минут для ТВ и соцсетей</p>
            <p style="margin-top: 20px;">Режиссер, оператор, монтажер, сценарий, съемка, монтаж, графика.</p>
            <p style="margin-top: 20px;">Художественная реклама, обзор товаров или сюжет об услугах для их продвижения.</p>
            <div class="butpos_price">
                <p style="margin-bottom:15px; margin-top: 10px; text-align: center;font-size: 24px;">От 25 000 -</p>   
                <a class="but_yet_price" href="{% url 'contact' %}">Заказать</a>
            </div>
        </div>
        <div class="pag">
            <p style="text-align: center; font-size: 26px;">Снять<br>видеоклип</p>
            <div style="margin-top: 10px; width: 210px; height: 2px; background-color: #000;"></div>
            <p style="margin-top: 30px;">Для продвижения трека и музыканта. Художественный музыкальный ролик до 5 минут</p>
            <p style="margin-top: 20px;">Режиссер, оператор, монтажер, сценарий, съемка, монтаж, графика.</p>
            <p style="margin-top: 20px;">Художественная реклама, обзор товаров или сюжет об услугах для их продвижения.</p>
            <div class="butpos_price">
                <p style="margin-bottom:15px; margin-top: 10px; text-align: center;font-size: 24px;">От 10 000 -</p>  
                <a class="but_yet_price" href="{% url 'contact' %}">Заказать</a>
            </div>
        </div>
        <div class="pag">
            <p style="text-align: center; font-size: 26px;">Короткометражный фильм</p>
            <div style="margin-top: 10px; width: 210px; height: 2px; background-color: #000;"></div>
            <p style="margin-top: 30px;">Для развития бренда и человека. Короткометражное или полнометражное художественное произведение до 2 часов</p>
            <p style="margin-top: 10px;">Режиссер, оператор, монтажер, сценарий, съемка, монтаж, графика.</p>
            <p style="margin-top: 10px;">Художественная реклама, обзор товаров или сюжет об услугах для их продвижения.</p>
            <div class="butpos_price">    
                <p style="margin-bottom:15px; margin-top: 10px; text-align: center;font-size: 24px;">От 90 000 -</p>
                <a class="but_yet_price" href="{% url 'contact' %}">Заказать</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="cop">
            <p>&copy; 2022. All Rights Reserved. Design by <a class="lin" href="https://github.com/White-prince">White-prince.</a></p>
        </div>
    </footer>
{% endblock %}