/*
Основной css файл
*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat';
    src: local('meta-normal'), local('meta-normal'),
    url('fonts/MontserratMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Montserrat', Thin;
    color: #fff;
    background-color: #131313;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    zoom:100%;
}
/*Ссылки*/
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
}
a.lin:hover {border-bottom: 1px double white;}
/*Основа*/
.wrapper {
    max-width: 100%;
    max-height: 100%;
}
.content {
    width: 100%;
    max-height: 100%;
}
.container {
    height: 1080px;
    width: 1920px;
    padding-left: 360px;
    padding-right: 360px;
}
.container_vid {
    height: 700px;
    width: 1920px;
    padding-left: 360px;
    padding-right: 360px;
}
.container_com {
    height: 700px;
    width: 1920px;
    padding-left: 360px;
    padding-right: 360px;
}
/*Видео*/
.container_v {
    z-index: 0;
    height: 100px;
    width: 100%;
    background-color: #fff;
}
.container_v > #bts_video{
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}
/*Шапка*/
.hat{
    height: 95px;
    width: 100%;
    padding-left: 360px;
    padding-right: 360px;
}
.logo{
    position: absolute;
    top: 15px;
    width: 200px;
}
nav{
    position: absolute;
    margin: 0;
    padding: 4px;
    top: 3%;
    right: 20%;
}
.tp{
    font-size: 20px;
    display: inline;
    margin-right: 5px;
    padding: 20px;
}
/*Кнопка*/
.butpos{
    margin-top: 2%;
    font-size: 24px;
    position: relative;
    z-index: 1;
}
a.but {
    height: 50px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #131313;
    outline: none;
    border-radius: 90px;
    transition: .05s linear;
    padding: 10px;
}
a.but:hover { background: #D0943A; }
/*Раздел с видео*/
.videos{
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: black;
}
.video_pos_one{
    position: absolute;
}
.video_pos_two{
    position: absolute;
}
.video_pos_three{
    position: absolute;
}
/*Коменты*/
.com_pos{
    position: absolute;
    max-width: 100%;
    width: 1200px;
    height: 400px;
}
.circul{
    position: absolute;
    border-radius: 100px;
    width: 60px;
    height: 60px;
}
.circul1{
    position: absolute;
    border-radius: 100px;
    width: 60px;
    height: 60px;
}
.com{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    width: 400px;
    height: 250px;
}
.com1{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    width: 400px;
    height: 250px;
}
/*Текст*/
.text{
    font-size: 36px;
}
.m_text{
    margin-top: 15%;
    font-size: 50px;
    position: relative;
    z-index: 1;
}
.s_text{
    margin-top: 1%;
    font-size: 24px;
    position: relative;
    z-index: 1;
}
.text_more{
    position: absolute;
}
.text_com{
    position: absolute;
}
.text_in_com{
    font-size: 24px;
    color: #131313;
    padding: 1em;
}
/*Подвал*/
footer{
    position: absolute;
    color: #fff;
    padding-bottom: 0;
    width: 100%;
    margin: 0 auto;
}
.cop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    position: absolute;
    bottom: 1%;
}