/*
Отзовы css файл
*/
.content-comments {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container-comments {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.comment {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    height: 400px;
    background-color: silver;
    margin: 15px;
}
.comment_text {
    height: 100px;
    width: 150px;
    color: black;
}