/*
Мобильная версия
*/
/*
@media screen and (max-width: 2560px) {
    2K
    .logo{
        position: absolute;
        top: 15px;
        width: 300px;
    }
    nav{
        position: absolute;
        margin: 0;
        padding: 4px;
        top: 2%;
        right: 20%;
    }
    .tp{
        font-size: 30px;
    }
    .videos{
        margin-left: 175px;
    }
    .container_vid{
        height: 550px;
        width: 100hw;
        padding-left: 300px;
        padding-right: 300px;
    }
    .container_a {
        height: 410px;
    }
    .container_soc {
        height: 1250px;
    }
    .vibe{
        width: 100px;
        height: 100px;
        margin-right: 210px;
    }
    .fore{
        margin-top: 150px;
        font-size: 72px;
    }
    .fore_n{
        font-size: 64px;
    }
    .inp{
        font-size: 60px;
    }
    .button{
        font-size: 50px;
        width: 400px;
        height: 100px;
        padding: 10px;
    }
    footer{
        font-size: 24px;
    }
    .pag{
        margin-top: 200px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 140px;
        margin-right: 30px;
        width: 400px;
        height: 700px;
        padding-top: 30px;
        font-size: 28px;
    }
    .container_comment {
        height: 1400px;
    }
    .butpos_price{
        font-size: 30px;
    }
    .but_yet{
        height: 60px;
        width: 500px;
        font-size: 30px;
    }
    .text{
        font-size: 48px;
    }
    .com{
        font-size: 38px;
    }
    .container_com {
        height: 1300px;
    }
    .circul{
        width: 100px;
        height: 100px;
    }
    .m_text{
        font-size: 72px;
    }
    .s_text{
        font-size: 32px;
    }
    .t_text{
        font-size: 60px;
    }
    a.but {
        font-size: 32px;
        height: 50px;
        width: 320px;
    }
    .text_a{
        font-size: 42px;
    }
    .text_a_t{
        font-size: 36px;
    }
    h1{
        margin-top: 80px;
    }
}
*/
@media screen and (max-width: 1900px) {
    /*
    Ноутбук 1800 - 1900
    */
    /*Шапка*/
    .hat{
    height: 50px;
    padding-left: 200px;
    padding-right: 200px;
    }
    .logo{
        width: 250px;
    }
    .tp{
        font-size: 26px;
        margin-right: 10px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 200px;
    }
    /*Главная*/
    .container {
        height: 700px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .container_vid {
        margin-top: 5px;
        height: 500px;
        padding-left: 200px;
        padding-right: 200px;
    }
    /*Видео*/
    .videos{
        margin-left: 50px;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 200px;
        padding-right: 200px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 1000px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .vibe{
        width: 80px;
        height: 80px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 100px;
        font-size: 52px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 50px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 50px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 25%;
        left: 47%;
        width: 800px;
        height: 400px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 240px;
        margin-left: 200px;
    }
    .container_comment{
        height: 1000px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 800px;
        padding-right: 200px;
        padding-left: 200px;
    }
    /*Текст*/
    .text_a{
        font-size: 48px;
    }
    .text_a_t{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 48px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 36px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 36px;
        margin-top: 50px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 28px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 24px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 700px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 30px;
        width: 500px;
        height: 70px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 200px;
        padding-right: 200px;
    } 
}
@media screen and (max-width: 1800px) {
     /*
     Ноутбук 1700 - 1800
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 10px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 700px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 500px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Видео*/
    .videos{
        margin-left: 120px;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 960px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 80px;
        height: 80px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 40px;
        font-size: 52px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 50px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 50px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 30%;
        left: 45%;
        width: 800px;
        height: 400px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 200px;
        margin-left: 170px;
    }
    .container_comment{
        height: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 800px;
        padding-right: 10px;
        padding-left: 10px;
    }
    /*Текст*/
    .text_a{
        font-size: 48px;
    }
    .text_a_t{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 48px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 36px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 36px;
        margin-top: 50px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 28px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 24px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 700px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 30px;
        width: 500px;
        height: 70px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }  
}
@media screen and (max-width: 1700px) {
    /*
     Ноутбук 1600 - 1700
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 10px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 600px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 500px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Видео*/
    .videos{
        margin-left: 90px;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 870px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 80px;
        height: 80px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 40px;
        font-size: 52px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 50px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 50px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 35%;
        left: 45%;
        width: 600px;
        height: 300px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 150px;
        margin-left: 150px;
    }
    .container_comment{
        height: 880px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 800px;
        padding-right: 10px;
        padding-left: 10px;
    }
    /*Текст*/
    .text_a{
        font-size: 48px;
    }
    .text_a_t{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 48px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 36px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 36px;
        margin-top: 50px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 28px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 24px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 700px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 30px;
        width: 500px;
        height: 70px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }  
}
@media screen and (max-width: 1600px) {
    /*
     Ноутбук 1500 - 1600
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 10px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 600px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 500px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Видео*/
    .videos{
        margin-left: 70px;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 830px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 50px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 46px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 42px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 30%;
        left: 45%;
        width: 600px;
        height: 300px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 150px;
        margin-left: 120px;
    }
    .container_comment{
        height: 820px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 800px;
        padding-right: 10px;
        padding-left: 10px;
    }
    /*Текст*/
    .text_a{
        font-size: 48px;
    }
    .text_a_t{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 48px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 36px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 36px;
        margin-top: 50px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 28px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 24px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 700px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }   
}
@media screen and (max-width: 1500px) {
    /*
     Ноутбук 1400 - 1500
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 10px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 600px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 600px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 50px;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 46px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 42px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 30%;
        left: 45%;
        width: 600px;
        height: 300px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 150px;
        margin-left: 100px;
    }
    .container_comment{
        height: 750px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 800px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Текст*/
    .text_a{
        font-size: 48px;
    }
    .text_a_t{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 20px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 18px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 700px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }   
}
@media screen and (max-width: 1400px) {
    /*
     Ноутбук 1300 - 1400
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 10px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 500px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 300px;
        padding-right: 300px;
    }
    /*Видео*/
    .videos{
        margin-left: 21.5%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 46px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 42px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 35%;
        left: 55%;
        width: 400px;
        height: 200px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 50px;
        margin-left: 500px;
    }
    .container_comment{
        height: 1550px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 1800px;
    }
    /*Текст*/
    .text_a{
        font-size: 26px;
    }
    .text_a_t{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 20px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 18px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }        
}
@media screen and (max-width: 1300px) {
    /*
     Ноутбук 1200 - 1300
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 10px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 500px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 300px;
        padding-right: 300px;
    }
    /*Видео*/
    .videos{
        margin-left: 17%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 46px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 42px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 35%;
        left: 55%;
        width: 400px;
        height: 200px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 50px;
        margin-left: 450px;
    }
    .container_comment{
        height: 1550px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 1850px;
        padding-left: 100px;
        padding-right: 100px;
    }
    /*Текст*/
    .text_a{
        font-size: 26px;
    }
    .text_a_t{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 20px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 18px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }        
} 
@media screen and (max-width: 1200px) {
    /* 
    Ноутбук 1100-1200
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 0px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 500px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 300px;
        padding-right: 300px;
    }
    /*Видео*/
    .videos{
        margin-left: 12%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 46px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 42px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 35%;
        left: 55%;
        width: 400px;
        height: 200px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 50px;
        margin-left: 400px;
    }
    .container_comment{
        height: 1550px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 1750px;
        padding-left: 100px;
        padding-right: 100px;
    }
    /*Текст*/
    .text_a{
        font-size: 26px;
    }
    .text_a_t{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 20px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 18px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }
} 
@media screen and (max-width: 1100px) {
    /* 
    планшет 1000 - 1100
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 20px;
        margin-right: 0px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 500px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 300px;
        padding-right: 300px;
    }
    /*Видео*/
    .videos{
        margin-left: 4%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 46px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 42px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        top: 45%;
        left: 65%;
        width: 300px;
        height: 150px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 30px;
        margin-left: 350px;
    }
    .container_comment{
        height: 1500px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        padding-top: 50px;
        height: 1800px;
        padding-left: 100px;
        padding-right: 100px;
    }
    /*Текст*/
    .text_a{
        font-size: 26px;
    }
    .text_a_t{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 20px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 18px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media screen and (max-width: 1000px) {
    /* 
    планшет 900 - 1000
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 18px;
        margin-right: 0px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 100px;
    }
    /*Главная*/
    .container {
        height: 400px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 28%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 46px;
        padding-bottom: 50px;
    }
    .inp{
        font-size: 42px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        width: 0px;
        height: 0px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 30px;
        margin-left: 300px;
    }
    .container_comment{
        height: 1500px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        height: 1850px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Текст*/
    .text_a{
        font-size: 26px;
    }
    .text_a_t{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 20px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 18px;    
        top: 8%;
        padding: 14px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 1000px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media screen and (max-width:900px) {
    /* 
    планшет 800 - 900
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 18px;
        margin-right: 0px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 3%;
        right: 1%;
    }
    /*Главная*/
    .container {
        height: 400px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 25%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 40px;
        padding-bottom: 15px;
    }
    .inp{
        font-size: 40px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        width: 0px;
        height: 0px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 30px;
        margin-left: 250px;
    }
    .container_comment{
        height: 1500px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        height: 1800px;
    }
    /*Текст*/
    .text_a{
        font-size: 26px;
    }
    .text_a_t{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .t_text{
        font-size: 28px;
        position: relative;
        z-index: 1;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 16px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 16px;    
        top: 7%;
        padding: 12px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 1000px;
    }
}
@media screen and (max-width: 800px) {
    /* 
    планшет 700 - 800
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .logo{
        width: 200px;
    }
    .tp{
        font-size: 18px;
        margin-right: 0px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 2%;
        right: 1%;
    }
    /*Главная*/
    .container {
        height: 300px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 22%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 760px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .fore{
        padding-top: 30px;
        font-size: 46px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 40px;
        padding-bottom: 15px;
    }
    .inp{
        font-size: 40px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        width: 0px;
        height: 0px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 20px;
        margin-left: 200px;
    }
    .container_comment{
        height: 1500px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        height: 1780px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Текст*/
    .text_a{
        font-size: 20px;
    }
    .text_a_t{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 32px;
    }
    .t_text{
        font-size: 28px;
    }
    .s_text{
        margin-top: 1%;
        font-size: 20px;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 16px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 16px;    
        top: 7%;
        padding: 12px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 700px) {
    /* 
    планшет 600 - 700
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .logo{
        width: 150px;
    }
    .tp{
        font-size: 16px;
        margin-right: 0px;
        padding: 10px;
    }
    nav{
        padding: 1px;
        top: 2%;
        right: 1%;
    }
    /*Главная*/
    .container {
        height: 300px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 18%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 380px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
    /* Контакты */
    .container_soc {
        height: 700px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vibe{
        width: 60px;
        height: 60px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .fore{
        padding-top: 10px;
        font-size: 42px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 38px;
        padding-bottom: 15px;
    }
    .inp{
        font-size: 48px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        width: 0px;
        height: 0px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 10px;
        margin-left: 150px;
    }
    .container_comment{
        height: 1420px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        height: 1750px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Текст*/
    .text_a{
        font-size: 20px;
    }
    .text_a_t{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 24px;
    }
    .t_text{
        font-size: 20px;
    }
    .s_text{
        margin-top: 1%;
        font-size: 16px;
    }
    .text {
        font-size: 24px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 16px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 14px;    
        top: 5%;
        padding: 10px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 400px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
}  
@media screen and (max-width: 600px) {
    /* 
    телефоно 500 - 600
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .logo{
        width: 150px;
    }
    .tp{
        font-size: 14px;
        margin-right: 0px;
        padding: 1px;
    }
    nav{
        padding: 1px;
        top: 2%;
        right: 1%;
    }
    /*Главная*/
    .container {
        height: 300px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container_vid {
        margin-top: 5px;
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 12%;
        width: 420px; 
        height: 240px;
    }
    /* О нас */
    .container_a {
        height: 420px;
        padding-left: 150px;
        padding-right: 150px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    /* Контакты */
    .container_soc {
        height: 650px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vibe{
        width: 50px;
        height: 50px;
        margin-right: 55px;
        margin-left: 40px;
    }
    .fore{
        padding-top: 10px;
        font-size: 36px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .inp{
        font-size: 40px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        width: 0px;
        height: 0px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 10px;
        margin-left: 100px;
    }
    .container_comment{
        height: 1420px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        height: 1720px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Текст*/
    .text_a{
        font-size: 20px;
    }
    .text_a_t{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 24px;
    }
    .t_text{
        font-size: 20px;
    }
    .s_text{
        margin-top: 1%;
        font-size: 16px;
    }
    .text {
        font-size: 24px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 16px;
        height: 50px;
        width: 300px;
    }
    a.but {
        font-size: 12px;    
        top: 5%;
        padding: 10px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 26px;
        width: 350px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
}   
@media screen and (max-width: 500px) {
    /* 
    телефоно 400 - 500
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .logo{
        width: 150px;
    }
    .tp{
        font-size: 12px;
        margin-right: 0px;
        padding: 1px;
    }
    nav{
        padding: 1px;
        top: 2%;
        right: 1%;
    }
    /*Главная*/
    .container {
        height: 200px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container_vid {
        margin-top: 5px;
        height: 800px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 22%;
        width: 250px; 
        height: 200px;
    }
    /* О нас */
    .container_a {
        height: 420px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    /* Контакты */
    .container_soc {
        height: 600px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vibe{
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-left: 50px;
    }
    .fore{
        padding-top: 20px;
        font-size: 30px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .inp{
        font-size: 32px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        width: 0px;
        height: 0px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 20px;
        margin-left: 50px;
    }
    .container_comment{
        height: 1450px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        height: 1500px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Текст*/
    .text_a{
        font-size: 20px;
    }
    .text_a_t{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 16px;
    }
    .t_text{
        font-size: 14px;
    }
    .s_text{
        margin-top: 1%;
        font-size: 12px;
    }
    .text {
        font-size: 24px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 16px;
        height: 50px;
        width: 200px;
    }
    a.but {
        font-size: 12px;    
        top: 5%;
        padding: 10px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 30px;
        font-size: 24px;
        width: 300px;
        height: 60px;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
}    
@media screen and (max-width: 400px) {
    /* 
    телефоно 300 - 400
    */
    /*Шапка*/
    .hat{
        height: 50px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .logo{
        width: 100px;
    }
    .tp{
        font-size: 10px;
        margin-right: 0px;
        padding: 1px;
    }
    nav{
        padding: 1px;
        top: 1%;
        right: 1%;
    }
    /*Главная*/
    .container {
        height: 200px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container_vid {
        margin-top: 5px;
        height: 800px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Видео*/
    .videos{
        margin-left: 14%;
        width: 250px; 
        height: 200px;
    }
    /* О нас */
    .container_a {
        height: 420px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    /* Контакты */
    .container_soc {
        height: 600px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vibe{
        width: 50px;
        height: 50px;
        margin-left: 30px;
        margin-right: 20px;
    }
    .fore{
        font-size: 26px;
        padding-bottom: 5px;
    }
    .fore_n{
        font-size: 22px;
        padding-bottom: 15px;
    }
    .inp{
        font-size: 26px;
        margin-bottom: 50px;
        padding-bottom: 1px;
    }
    .photo{
        width: 0px;
        height: 0px;
    }
    /* Прайс */
    .pag{
        height: 460px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .container_comment{
        height: 1420px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Портфолио */
    .container_vid_port {
        height: 1450px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*Текст*/
    .text_a{
        font-size: 20px;
    }
    .text_a_t{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .m_text{
        margin-top: 10%;
        font-size: 16px;
    }
    .t_text{
        font-size: 14px;
    }
    .s_text{
        margin-top: 1%;
        font-size: 12px;
    }
    .text {
        font-size: 24px;
    }
    /*Кнопки*/
    .but_yet{
        font-size: 14px;
        height: 50px;
        width: 150px;
    }
    a.but {
        font-size: 10px;    
        top: 5%;
        padding: 8px;
    }
    .butpos{
        height: 100px;
        width: 300px;
        font-size: 24px;
        position: relative;
        z-index: 1;
    }
    .button{
        margin-left: 40px;
        margin-bottom: 50px;
        font-size: 20px;
        width: 240px;
        height: 50px;
        padding: .5em 1em;
        transition: .05s linear;
    }
    /*Отзывы*/
    .com{
        margin-left: 5%;
    }
    .container_com {
        height: 1100px;
        padding-left: 0px;
        padding-right: 0px;
    }
}