/*
CSS файл портфолио
*/
.content-portfolio {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*Блок под ролик*/
.videos-slot {
    display: inline-block;
    width: 368px;
    height: 207px;
    background-color: black;
    margin: 15px;
}
/*Блок с рекламой*/
.advertising-videos {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*Блок с короткометражками*/
.shortfilm-videos {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*Блок с клипами*/
.music-videos {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer_portfolio {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    margin-top: 50px;
}